.SetupHeight{
    height: 100vh;
}

.ViewUser{
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.SetupUser{
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* margin-top: 50px; */
    margin: 50px 20px 50px 20px;
}

.SetInfo{
    display: inline-flex;
}

.M100{
    margin-right: 100px;
}

.ButtonUpdate{
    margin: 20px 30px;
    padding-top: 20px;
    border-top: 1px solid black;
}