.inputc{
    width: 90% !important;
    height: 40px;
}
.inputp{
    width: 100% !important;
    height: 40px;
}
.inputf{
    width: 100% !important;
    height: 48px;
    font-size: 22px;
    padding: 20px;
}
.login{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}
.textf{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px !important;
    line-height: 32px;
}
.textl{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 20px;
}
.lic{
    list-style: none;
    padding-top: 20px;
}
.deletec{
    margin-left: 40px;
}
.iconc{
    width: 15px;
    height: 15px;
}
.container{
    border-radius: 10px;
    border: 2px solid gray;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    
}
.left{
    margin-left: 20px;
    border-right: 2px solid gray;  
}
.left2{
    margin-left: 20px;
    font-size: 20px;
    height: 200px;
}
.box{
    max-height: 250px;
    overflow: auto;
}
.right{
    padding-left: 20px;
    
}
.tittle{
    font-size: 40px;
}
.detail{
    font-size: 20px;
}
.form{
    align-items: center;
    padding: 16px;
    gap: 24px;
    background: #FFFFFF;
    border-radius: 16px;
}
.button{
    height: 48px;
    font-size: 16px;
}