.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(230, 225, 225);
    padding: 80px 80px 80px 80px;
    border-radius: 10px;
    border: solid black 2px;
  }
  .SetupHeight{
    height: 100vh;
}

.ViewUser{
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.SetupUser{
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* margin-top: 50px; */
    margin: 50px 20px 50px 20px;
}

.SetInfo{
    display: inline-flex;
}

.M100{
    margin-right: 100px;
}

.ButtonUpdate{
    margin: 20px 30px;
    padding-top: 20px;
    border-top: 1px solid black;
}

.change {
    width: 40%;
    margin: 0 auto;
    background-color: white;
    float: left;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }
  
  .change .ant-form-item-control-wrapper {
    display: flex;
    justify-content: flex-start;
    
  }
  
  .change form{
    width: 100%;
    padding-left: 20px;
  }
  
  .change .ant-form-item-label {
    width: 50%;
  }
  
  .change .ant-btn-primary {
    margin-right: 8px;
    
  }
  
  .change form input {
    display: flex;
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #CBCBCB;
    border-radius: 8px;
  }
.tittle{
    font-size: 40px;
}